@import '../../styles/theming';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.anchor {
  color: $anchorColor;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  position: absolute;
  font-size: 0.75em;
  left: var(--cucumber-anchor-offset, -1.1em);

  .wrapper:hover & {
    opacity: 1;
  }
}
