.anchor {
  position: relative;
  display: flex;
  align-items: center;

  a {
    color: inherit;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    position: absolute;
    font-size: 0.75rem;
    left: -1rem;
  }

  &:hover {
    a {
      opacity: 0.666;
    }
  }
}
