@import '../../styles/theming';

.text {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 0.875em;
  padding: 0.666em 0.75em;
  border-radius: 0.25em;
  margin: 0;
  overflow-x: auto;
  background-color: $codeBackgroundColor;
  color: $codeTextColor;
}

.icon {
  margin-right: 0.75em;
  opacity: 0.333;
}

.image {
  max-width: 100%;
  margin-top: 0.5em;
}
