@import '../../styles/theming';

@mixin cucumber-table-style {
  border-collapse: collapse;
  margin: 0;

  tr {
    border-top: 6px solid white;
  }

  th, td {
    padding: 0.4em 0.6em;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: $keywordColor;
    color: $parameterColor;
  }
}

.table {
  @include cucumber-table-style;
}

.examplesTable {
  @include cucumber-table-style;

  th:first-child, td:first-child {
    border-left: none;
  }
}

.exampleDetail.exampleDetail {
  border-top: none;
}

