@import '../../styles/theming';

.docString {
    font-family: inherit;
    color: $docstringColor;
    padding-bottom: 0.25em;
    margin: 0;
    overflow-x: auto;

    &::before,
    &::after {
        content: '"""';
        display: block;
        // adjust so quote marks sit consistent distance from content at both ends
        transform: translateY(0.25em);
    }

    &::before {
        padding-bottom: 0.25em;
    }

    &::after {
        padding-top: 0.25em;
    }
}
