@import '../../styles/theming';

.tags {
  padding: 0;
  margin: 0;
}

.tag {
  display: inline;
  list-style-type: none;
  padding: 8px 0;
  color: $tagColor;

  &:not(:last-child) {
    margin-right: 10px;
  }
}