{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {"trailingComma": "es5", "singleQuote": true, "semi": false}
    ]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}
