# =============================================================================
# EDITOR CONFIGURATION: http://editorconfig.org
# =============================================================================

root = true

# -- DEFAULT: Unix-style newlines with a newline ending every file.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rst,md,txt,ini,cfg}]
indent_style = space
indent_size = 4

[**/makefile]
indent_style = tab

[*.{cmd,bat}]
end_of_line = crlf
