include README.rst
include LICENSE
include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .pylintrc
include *.py
include *.rst
include *.md
include *.txt
include *.ini
include *.cfg
include *.yaml
include Makefile

recursive-include py.requirements  *.txt
recursive-include tasks         *.py *.txt *.rst
recursive-include tests         *.py *.txt
recursive-include bin           *.sh *.py *.cmd
recursive-include scripts       *.py *.sh
# -- PREPARED:
#  recursive-include docs          *.rst *.txt *.py

prune .tox
prune .venv*
