[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = ">=3.2"
pytest-html = ">=1.19"
tox = ">=2.9"
coverage = ">=4.2"
"enum34" = "*"
invoke = ">=0.21.0"
"path.py" = ">=10.1"
pathlib = "*"
"backports.shutil_which" = "*"
pycmd = "*"
six = ">=1.11.0"
