.cucumber-react h1, .cucumber-react h2, .cucumber-react h3 {
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
  display: inline-block;
}
.cucumber-react a {
  color: inherit;
}
.cucumber-react ol {
  list-style-type: none;
  padding-left: 0;
}
.cucumber-react section {
  margin-bottom: 1em;
}
.cucumber-react .status-passed {
  color: #2CB14A;
}
.cucumber-react .status-skipped {
  color: #00A0CC;
}
.cucumber-react .status-pending {
  color: #FFAD33;
}
.cucumber-react .status-undefined {
  color: #FFAD33;
}
.cucumber-react .status-ambiguous {
  color: #F4EBFD;
}
.cucumber-react .status-failed {
  color: #BB0000;
}
.cucumber-react .status-unknown {
  color: #B6BECB;
}
.cucumber-react .data-table {
  border-collapse: collapse;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.cucumber-react .data-table th {
  border: 1px solid #4B5662;
  padding: 0.3em;
}
.cucumber-react .data-table td {
  border: 1px solid #4B5662;
  padding: 0.3em;
}
.cucumber-react .data-table td__status {
  padding: 0.5em 3px 3px 3px;
}
.cucumber-react .data-table td__step {
  flex-grow: 1;
}
.cucumber-react .examples-table {
  border-collapse: collapse;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.cucumber-react .examples-table th {
  padding: 0.3em;
}
.cucumber-react .examples-table th + th {
  border: 1px solid #4B5662;
}
.cucumber-react .examples-table td {
  padding: 0.3em;
}
.cucumber-react .examples-table td + td {
  border: 1px solid #4B5662;
}
.cucumber-react .examples-table td + td__status {
  padding: 0.5em 3px 3px 3px;
}
.cucumber-react .examples-table td + td__step {
  flex-grow: 1;
}
.cucumber-react .gherkin-document-list {
  font: 14px "Open Sans", sans-serif;
  color: #161C24;
  background: #fff;
  overflow-x: hidden;
}
.cucumber-react .indent {
  margin-left: 1em;
}
.cucumber-react .keyword {
  font-weight: bold;
}
.cucumber-react .step {
  padding: 0.1em;
}
.cucumber-react .step-text {
  font-weight: normal;
}
.cucumber-react .step-param {
  font-weight: normal;
}
.cucumber-react .step-container {
  display: flex;
}
.cucumber-react .step-container__step {
  flex-grow: 1;
}
.cucumber-react .text_status_icon_container {
  padding-top: 0.35em;
  padding-right: 0.5em;
}
.cucumber-react .error-message {
  padding: 0.5em;
  margin: 0;
  overflow: scroll;
}
.cucumber-react .tag-list {
  padding: 0;
  margin-bottom: 0;
}
.cucumber-react .tag {
  display: inline;
  list-style-type: none;
  padding: 4px 8px 4px 8px;
  margin-right: 6px;
  background-color: #FFFFFF;
  border-radius: 6px;
}
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ddd;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}
