version: 2.1

###
### Executors ###
###

executors:
  # This executor's Docker image contains all the tools required to build
  # this repo (dotnet, openjdk, ruby, node etc). We use it for
  # jobs that require a combination of those tools. For other jobs we use
  # the circleci images, as they are typically cached more widely around
  # the build nodes (faster builds).
  docker-cucumber-build:
    docker:
      - image: cucumber/cucumber-build:0.13.0
    working_directory: ~/cucumber
    environment:
      # nvm, node and npm are installed locally rather globally.
      # this avoids issues when using npm link
      # to make this work nvm must be configured for each shell
      BASH_ENV: ~/.nvm/nvm.sh
  # Go
  docker-circleci-golang:
    docker:
      - image: circleci/golang:1.17
    working_directory: ~/cucumber

  # Node.js
  docker-circleci-node-12:
    docker:
      - image: circleci/node:12
    working_directory: ~/cucumber
  docker-circleci-node-14:
    docker:
      - image: circleci/node:14
    working_directory: ~/cucumber
  docker-circleci-node-16:
    docker:
      - image: circleci/node:16
    working_directory: ~/cucumber
  docker-circleci-node-18:
    docker:
      - image: cimg/node:18.12
    working_directory: ~/cucumber

  # Ruby
  docker-circleci-ruby-23:
    docker:
      - image: circleci/ruby:2.3
    working_directory: ~/cucumber
  docker-circleci-ruby-24:
    docker:
      - image: circleci/ruby:2.4
    working_directory: ~/cucumber
  docker-circleci-ruby-25:
    docker:
      - image: circleci/ruby:2.5
    working_directory: ~/cucumber
  docker-circleci-ruby-26:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/cucumber
  # Java
  docker-circleci-openjdk:
    docker:
      - image: circleci/openjdk:11
    working_directory: ~/cucumber
  # Python
  docker-circleci-python:
    docker:
      - image: cimg/python:3.10.7
    working_directory: ~/cucumber

  # Php
  docker-circleci-php:
    docker:
      - image: cimg/php:8.1.11
    working_directory: ~/cucumber

###
### Jobs ###
###

jobs:
  build-serial:
    executor: docker-cucumber-build
    steps:
      - checkout
      - run:
          name: everything
          command: make ci

  prepare-parallel:
    executor: docker-cucumber-build
    steps:
      - checkout
      - run:
          name: npm ci && npm run build
          # We run `npm run build` (`tsc`) as well because it is needed to
          # make storybook work. Our storybook setup is not (yet) able to
          # pick up .ts files - all code needs to be transpiled first.
          command: |
            npm install --global npm@8
            npm ci
            npm run build
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - '*'

  ### Go

  gherkin-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/go
          command: |
            cd gherkin/go
            make

  ### JavaScript

  gherkin-javascript-node-12:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/javascript
          command: |
            sudo npm install --global npm@8
            cd gherkin/javascript
            make

  gherkin-javascript-node-14:
    executor: docker-circleci-node-14
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/javascript
          command: |
            sudo npm install --global npm@8
            cd gherkin/javascript
            make

  gherkin-javascript-node-16:
    executor: docker-circleci-node-16
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/javascript
          command: |
            sudo npm install --global npm@8
            cd gherkin/javascript
            make

  gherkin-javascript-node-18:
    executor: docker-circleci-node-18
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

  gherkin-utils-javascript:
    executor: docker-circleci-node-14
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin-utils/javascript
          command: |
            sudo npm install --global npm@8
            cd gherkin-utils/javascript
            make

  query-javascript:
    executor: docker-circleci-node-14
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: query/javascript
          command: |
            sudo npm install --global npm@8
            cd query/javascript
            make

  ### Ruby

  gherkin-ruby-23:
    executor: docker-circleci-ruby-23
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-24:
    executor: docker-circleci-ruby-24
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-25:
    executor: docker-circleci-ruby-25
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-26:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  ### Java

  gherkin-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - attach_workspace:
          at: '~/.m2/repository'
      - run:
          name: gherkin/java
          command: |
            cd gherkin/java
            make
      - persist_to_workspace:
          root: '~/.m2/repository'
          paths:
            - 'io/cucumber/gherkin'

  gherkin-utils-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - attach_workspace:
          at: '~/.m2/repository'
      - run:
          name: gherkin-utils-java
          command: |
            cd gherkin-utils/java
            make
      - persist_to_workspace:
          root: '~/.m2/repository'
          paths:
            - 'io/cucumber/gherkin'

  ### .NET

  gherkin-dotnet:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/dotnet
          command: |
            cd gherkin/dotnet
            make

  ### Perl

  gherkin-perl:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/perl
          command: |
            cd gherkin/perl
            make

  ### Python

  gherkin-python-2:
    executor: docker-circleci-python
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/python
          command: |
            cd gherkin/python
            make GHERKIN_PYTHON_VERSION=python2

  gherkin-python-3:
    executor: docker-circleci-python
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/python
          command: |
            cd gherkin/python
            make

  ### C

  gherkin-c:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/c
          command: |
            cd gherkin/c
            make

  ### Elixir

  # gherkin-elixir:
  #   executor: docker-cucumber-build
  #   steps:
  #     - attach_workspace:
  #         at: "~/cucumber"
  #     - run:
  #         name: gherkin/elixir
  #         command: |
  #           cd gherkin/elixir
  #           make

  ### PHP

  gherkin-php:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/php
          command: |
            cd gherkin/php
            composer config --unset repo.0
            make

  gherkin-php-bc:
    executor: docker-cucumber-build
    environment:
      COMPOSER_FLAGS: --prefer-lowest
    steps:
      - attach_workspace:
          at: '~/cucumber'
      - run:
          name: gherkin/php
          command: |
            cd gherkin/php
            composer config --unset repo.0
            make

###
### Workflows ###
###

workflows:
  version: 2

  monorepo-nightly:
    triggers:
      - schedule:
          cron: '0 5 * * *'
          filters:
            branches:
              only:
                - main

    jobs:
      - build-serial

  monorepo-serial:
    jobs:
      - build-serial:
          # Explicitly enable build for tags. Needed to sync tags to subrepos.
          filters:
            tags:
              only: /.*/

  monorepo-parallel:
    jobs:
      - prepare-parallel

      ### Go

      - gherkin-go:
          requires:
            - prepare-parallel

      ### JavaScript

      - gherkin-javascript-node-12:
          requires:
            - prepare-parallel
      - gherkin-javascript-node-14:
          requires:
            - prepare-parallel
      - gherkin-javascript-node-16:
          requires:
            - prepare-parallel
      - gherkin-javascript-node-18:
          requires:
            - prepare-parallel
      - gherkin-utils-javascript:
          requires:
            - prepare-parallel
      - query-javascript:
          requires:
            - prepare-parallel

      ### Ruby

      - gherkin-ruby-23:
          requires:
            - prepare-parallel
      - gherkin-ruby-24:
          requires:
            - prepare-parallel
      - gherkin-ruby-25:
          requires:
            - prepare-parallel
      - gherkin-ruby-26:
          requires:
            - prepare-parallel

      ### Java

      - gherkin-java:
          requires:
            - prepare-parallel
      - gherkin-utils-java:
          requires:
            - prepare-parallel

      ### .NET

      - gherkin-dotnet:
          requires:
            - prepare-parallel

      ## Perl

      - gherkin-perl:
          requires:
            - prepare-parallel

      ## Python

      - gherkin-python-2:
          requires:
            - prepare-parallel

      - gherkin-python-3:
          requires:
            - prepare-parallel

      ### C

      - gherkin-c:
          requires:
            - prepare-parallel

      ### Elixir

      # - gherkin-elixir:
      #     requires:
      #       - messages-elixir

      ### PHP

      - gherkin-php:
          requires:
            - prepare-parallel

      - gherkin-php-bc:
          requires:
            - prepare-parallel
