# https://github.com/envoyproxy/envoy/blob/master/.circleci/config.yml
# https://hackernoon.com/circleci-performance-difference-between-cache-and-workspace-5567679c3601
# https://circleci.com/docs/2.0/caching/#source-caching
version: 2.1

executors:
  docker-executor:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    working_directory: ~/cucumber

jobs:
  checkout:
    executor: docker-executor
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/cucumber

  c21e-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make
      # - persist_to_workspace:
      #     root: /usr/lib/node_modules
      #     paths: 
      #       - c21e
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - c21e/javascript/dist
            - c21e/javascript/node_modules

  cucumber-expressions-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make
      # - persist_to_workspace:
      #     root: /usr/lib/node_modules
      #     paths: 
      #       - cucumber-expressions
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-expressions/javascript/dist
            - cucumber-expressions/javascript/node_modules

  cucumber-messages-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: cucumber-messages/javascript
          command: |
            cd cucumber-messages/javascript
            make
      # - persist_to_workspace:
      #     root: /usr/lib/node_modules
      #     paths: 
      #       - cucumber-messages
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-messages/javascript/dist
            - cucumber-messages/javascript/node_modules

  gherkin-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      # - attach_workspace:
      #     at: /usr/lib/node_modules
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

workflows:
  version: 2
  javascript:
    jobs:
      - checkout
      - c21e-javascript:
          requires:
            - checkout
      - cucumber-expressions-javascript:
          requires:
            - checkout
      - cucumber-messages-javascript:
          requires:
            - checkout
      - gherkin-javascript:
          requires:
            - checkout
            - c21e-javascript
            - cucumber-messages-javascript
