version: 2.1

###
### Executors ###
###

executors:
  docker-cucumber-build:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    working_directory: ~/cucumber
  docker-circleci-golang:
    docker:
      - image: circleci/golang:1.12
    working_directory: ~/cucumber
  docker-circleci-node:
    docker:
      - image: circleci/node:12
    working_directory: ~/cucumber
  docker-circleci-ruby:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/cucumber
  docker-circleci-openjdk:
    docker:
      - image: circleci/openjdk:11
    working_directory: ~/cucumber

###
### Jobs ###
###

jobs:
  checkout:
    executor: docker-circleci-ruby
    steps:
      - run:
          name: Install git-crypt
          command: sudo apt-get install git-crypt
      - run:
          name: Decode git-crypt key
          command: echo "$GIT_CRYPT_KEY_BASE64" | base64 -d > ~/git-crypt.key
      - checkout
      - run:
          name: Decrypt encrypted files
          command: git-crypt unlock ~/git-crypt.key
      - run:
          name: Remove git-crypt key
          command: rm ~/git-crypt.key
      - run:
          name: Import GPG signing key
          command: gpg --batch -q --fast-import codesigning.key
      - run:
          name: Write ~/.gem/credentials
          command: |
            mkdir -p ~/.gem
            cp .gem_credentials ~/.gem/credentials
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - "**/*"
      - persist_to_workspace:
          root: ~/.gem
          paths: 
            - credentials

  protoc:
    executor: docker-circleci-golang
    steps:
      - run:
          name: Install protoc
          command: sudo apt install protobuf-compiler
      - persist_to_workspace:
          root: /usr/bin
          paths: 
            - protoc

### Go

  cucumber-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/go
          command: |
            cd cucumber-expressions/go
            make

  cucumber-messages-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/go
          command: |
            cd cucumber-messages/go
            make

  gherkin-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/go
          command: |
            cd gherkin/go
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - gherkin/go/dist

  tag-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/go
          command: |
            cd tag-expressions/go
            make

  dots-formatter-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: dots-formatter/go
          command: |
            cd dots-formatter/go
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - gherkin/go/dist

### JavaScript

  c21e-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - c21e/javascript/dist
            - c21e/javascript/node_modules

  cucumber-expressions-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-expressions/javascript/dist
            - cucumber-expressions/javascript/node_modules

  cucumber-messages-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/javascript
          command: |
            cd cucumber-messages/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-messages/javascript/dist
            - cucumber-messages/javascript/node_modules

  gherkin-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

  tag-expressions-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/javascript
          command: |
            cd tag-expressions/javascript
            make

### JavaScript - publish

  cucumber-expressions-javascript-publish:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make publish

### Ruby

  c21e-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/ruby
          command: |
            cd c21e/ruby
            make

  cucumber-expressions-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/ruby
          command: |
            cd cucumber-expressions/ruby
            make

  cucumber-messages-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/ruby
          command: |
            cd cucumber-messages/ruby
            make

  gherkin-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  tag-expressions-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/ruby
          command: |
            cd tag-expressions/ruby
            make

  dots-formatter-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: dots-formatter/ruby
          command: |
            cd dots-formatter/ruby
            make

### Ruby - publish

  cucumber-expressions-ruby-publish:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - attach_workspace:
          at: ~/.gem
      - run: 
          name: cucumber-expressions/ruby
          command: |
            cd cucumber-expressions/ruby
            make publish

### Java

  c21e-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/java
          command: |
            cd c21e/java
            make

  cucumber-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/java
          command: |
            cd cucumber-expressions/java
            make

  cucumber-messages-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/java
          command: |
            cd cucumber-messages/java
            make
      - persist_to_workspace:
          root: ~/.m2/repository/io/cucumber/messages
          paths: 
            - "**/*"

  gherkin-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - attach_workspace:
          at: ~/.m2/repository/io/cucumber/messages
      - run: 
          name: gherkin/java
          command: |
            cd gherkin/java
            make

  tag-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/java
          command: |
            cd tag-expressions/java
            make

  datatable-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: datatable-java
          command: |
            cd datatable/java
            make

  config-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: config-java
          command: |
            cd config/java
            make

#### Java - publish

  cucumber-expressions-java-publish:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/java
          command: |
            cd cucumber-expressions/java
            make publish

### .NET

  cucumber-messages-dotnet:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/dotnet
          command: |
            cd cucumber-messages/dotnet
            make

#### .NET - publish

  cucumber-messages-dotnet-publish:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/dotnet
          command: |
            cd cucumber-messages/dotnet
            make publish

###
### Workflows ###
###

workflows:
  version: 2
  monorepo-build:
    jobs:
      - checkout
      - protoc

### Go

      - cucumber-expressions-go:
          requires:
            - checkout
      - cucumber-messages-go:
          requires:
            - checkout
            - protoc
      - gherkin-go:
          requires:
            - cucumber-messages-go
      - tag-expressions-go:
          requires:
            - checkout
      - dots-formatter-go:
          requires:
            - checkout

### JavaScript

      - c21e-javascript:
          requires:
            - checkout
      - cucumber-expressions-javascript:
          requires:
            - checkout
      - cucumber-messages-javascript:
          requires:
            - checkout
            - protoc
      - gherkin-javascript:
          requires:
            - c21e-javascript
            - cucumber-messages-javascript
            - gherkin-go
      - tag-expressions-javascript:
          requires:
            - checkout

### JavaScript - publish

      - cucumber-expressions-javascript-publish:
          filters:
            tags: { only: '/cucumber-expressions\/v\//' }
          requires:
            - cucumber-expressions-javascript

### Ruby

      - c21e-ruby:
          requires:
            - checkout
      - cucumber-expressions-ruby:
          requires:
            - checkout
      - cucumber-messages-ruby:
          requires:
            - checkout
            - protoc
      - gherkin-ruby:
          requires:
            - c21e-ruby
            - cucumber-messages-ruby
            - gherkin-go
      - tag-expressions-ruby:
          requires:
            - checkout
      - dots-formatter-ruby:
          requires:
            - checkout
            - dots-formatter-go

### Ruby - publish

      - cucumber-expressions-ruby-publish:
          filters:
            tags: { only: '/cucumber-expressions\/v\//' }
          requires:
            - cucumber-expressions-ruby

### Java

      - c21e-java:
          requires:
            - checkout
      - cucumber-expressions-java:
          requires:
            - checkout
      - cucumber-messages-java:
          requires:
            - checkout
            - protoc
      - gherkin-java:
          requires:
            - c21e-java
            - cucumber-messages-java
            - gherkin-go
      - tag-expressions-java:
          requires:
            - checkout
      - datatable-java:
          requires:
            - checkout
      - config-java:
          requires:
            - checkout

### Java - publish

      - cucumber-expressions-java-publish:
          filters:
            tags: { only: '/cucumber-expressions\/v\//' }
          requires:
            - cucumber-expressions-java

### .NET

      - cucumber-messages-dotnet:
          requires:
            - checkout
            - protoc

### .NET - publish

      - cucumber-messages-dotnet-publish:
          filters:
            tags: { only: '/cucumber-messages\/v\//' }
          requires:
            - cucumber-messages-dotnet
