# https://github.com/envoyproxy/envoy/blob/master/.circleci/config.yml
# https://hackernoon.com/circleci-performance-difference-between-cache-and-workspace-5567679c3601
# https://circleci.com/docs/2.0/caching/#source-caching
version: 2.1

executors:
  docker-cucumber-build:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    working_directory: ~/cucumber
  docker-circleci-golang:
    docker:
      - image: circleci/golang:1.12
    working_directory: ~/cucumber
  docker-circleci-node:
    docker:
      - image: circleci/node:12
    working_directory: ~/cucumber
  docker-circleci-ruby:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/cucumber
  docker-circleci-openjdk:
    docker:
      - image: circleci/openjdk:11
    working_directory: ~/cucumber

jobs:
  checkout:
    executor: docker-cucumber-build
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - "**/*"

### Go

  cucumber-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/go
          command: |
            cd cucumber-expressions/go
            make

  cucumber-messages-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/go
          command: |
            cd cucumber-messages/go
            make

  gherkin-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/go
          command: |
            cd gherkin/go
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - gherkin/go/dist

  tag-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/go
          command: |
            cd tag-expressions/go
            make

### JavaScript

  c21e-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - c21e/javascript/dist
            - c21e/javascript/node_modules

  cucumber-expressions-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-expressions/javascript/dist
            - cucumber-expressions/javascript/node_modules

  cucumber-messages-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/javascript
          command: |
            cd cucumber-messages/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths: 
            - cucumber-messages/javascript/dist
            - cucumber-messages/javascript/node_modules

  gherkin-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

  tag-expressions-javascript:
    executor: docker-circleci-node
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/javascript
          command: |
            cd tag-expressions/javascript
            make

### Ruby

  c21e-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/ruby
          command: |
            cd c21e/ruby
            make

  cucumber-expressions-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/ruby
          command: |
            cd cucumber-expressions/ruby
            make

  cucumber-messages-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/ruby
          command: |
            cd cucumber-messages/ruby
            make

  gherkin-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  tag-expressions-ruby:
    executor: docker-circleci-ruby
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/ruby
          command: |
            cd tag-expressions/ruby
            make

### Java

  c21e-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: c21e/java
          command: |
            cd c21e/java
            make

  cucumber-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-expressions/java
          command: |
            cd cucumber-expressions/java
            make

  cucumber-messages-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: cucumber-messages/java
          command: |
            cd cucumber-messages/java
            make
      - persist_to_workspace:
          root: ~/.m2/repository/io/cucumber/messages
          paths: 
            - "**/*"

  gherkin-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - attach_workspace:
          at: ~/.m2/repository/io/cucumber/messages
      - run: 
          name: gherkin/java
          command: |
            cd gherkin/java
            make

  tag-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: ~/cucumber
      - run: 
          name: tag-expressions/java
          command: |
            cd tag-expressions/java
            make

workflows:
  version: 2
  monorepo-build:
    jobs:
      - checkout

### Go

      - cucumber-expressions-go:
          requires:
            - checkout

      - cucumber-messages-go:
          requires:
            - checkout

      - gherkin-go:
          requires:
            - checkout
            - cucumber-messages-go

      - tag-expressions-go:
          requires:
            - checkout

### JavaScript

      - c21e-javascript:
          requires:
            - checkout
      - cucumber-expressions-javascript:
          requires:
            - checkout
      - cucumber-messages-javascript:
          requires:
            - checkout
      - gherkin-javascript:
          requires:
            - checkout
            - c21e-javascript
            - cucumber-messages-javascript
            - gherkin-go
      - tag-expressions-javascript:
          requires:
            - checkout

### Ruby

      - c21e-ruby:
          requires:
            - checkout
      - cucumber-expressions-ruby:
          requires:
            - checkout
      - cucumber-messages-ruby:
          requires:
            - checkout
      - gherkin-ruby:
          requires:
            - checkout
            - c21e-ruby
            - cucumber-messages-ruby
            - gherkin-go
      - tag-expressions-ruby:
          requires:
            - checkout

### Java

      - c21e-java:
          requires:
            - checkout
      - cucumber-expressions-java:
          requires:
            - checkout
      - cucumber-messages-java:
          requires:
            - checkout
      - gherkin-java:
          requires:
            - checkout
            - c21e-java
            - cucumber-messages-java
            - gherkin-go
      - tag-expressions-java:
          requires:
            - checkout