# https://github.com/envoyproxy/envoy/blob/master/.circleci/config.yml
# https://hackernoon.com/circleci-performance-difference-between-cache-and-workspace-5567679c3601
# https://circleci.com/docs/2.0/caching/#source-caching
version: 2.1

executors:
  docker-executor:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    working_directory: ~/cucumber

jobs:
  checkout:
    executor: docker-executor
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/cucumber

  c21e-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make

  cucumber-expressions-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make

  cucumber-messages-javascript:
    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: cucumber-messages/javascript
          command: |
            cd cucumber-messages/javascript
            make

    executor: docker-executor
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

workflows:
  version: 2
  javascript:
    jobs:
      - checkout
      - c21e-javascript
      - cucumber-expressions-javascript
      - cucumber-messages-javascript
      - gherkin-javascript:
          requires:
            - c21e-javascript
            - cucumber-messages-javascript
