version: 2.1

###
### Executors ###
###

executors:
  # This executor's Docker image contains all the tools required to build
  # this repo (protoc, dotnet, openjdk, ruby, node etc). We use it for
  # jobs that require a combination of those tools. For other jobs we use
  # the circleci images, as they are typically cached more widely around
  # the build nodes (faster builds).
  docker-cucumber-build:
    docker:
      # Remember to update to the latest image tag.
      # Run `source scripts/functions.sh && docker_image Dockerfile` to print it.
      - image: cucumber/cucumber-build:ec704464c6acc2c0352f6cf94bb101ad
    working_directory: ~/cucumber
  # Go
  docker-circleci-golang:
    docker:
      - image: circleci/golang:1.12
    working_directory: ~/cucumber
  # Node.js
  docker-circleci-node-10:
    docker:
      - image: circleci/node:10
    working_directory: ~/cucumber
  docker-circleci-node-12:
    docker:
      - image: circleci/node:12
    working_directory: ~/cucumber
  # Ruby
  docker-circleci-ruby-23:
    docker:
      - image: circleci/ruby:2.3
    working_directory: ~/cucumber
  docker-circleci-ruby-24:
    docker:
      - image: circleci/ruby:2.4
    working_directory: ~/cucumber
  docker-circleci-ruby-25:
    docker:
      - image: circleci/ruby:2.5
    working_directory: ~/cucumber
  docker-circleci-ruby-26:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/cucumber
  # Java
  docker-circleci-openjdk:
    docker:
      - image: circleci/openjdk:11
    working_directory: ~/cucumber
  # Python
  docker-circleci-python:
    docker:
      - image: circleci/python:3.7.3
    working_directory: ~/cucumber

###
### Jobs ###
###

jobs:
  build-serial:
    executor: docker-cucumber-build
    environment:
      # Override CI=true to false because CI=true causes
      # tag-expressions/python/Makefile to use sudo, which we don't want
      # because the cucumber-build docker image doesn't have sudo installed
      CI: false
    steps:
      - checkout
      - run:
          name: everything
          command: |
            make ci

  checkout:
    executor: docker-circleci-ruby-26
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - "*"

### Go

  cucumber-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: cucumber-expressions/go
          command: |
            cd cucumber-expressions/go
            make

  messages-go:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: messages/go
          command: |
            cd messages/go
            make

  gherkin-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/go
          command: |
            cd gherkin/go
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - gherkin/go/dist

  tag-expressions-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: tag-expressions/go
          command: |
            cd tag-expressions/go
            make

  demo-formatter-go:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: demo-formatter/go
          command: |
            cd demo-formatter/go
            make

  json-formatter-go:
    executor: docker-circleci-golang
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: json-formatter/go
          command: |
            cd json-formatter/go
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - json-formatter/go/dist

### JavaScript

  c21e-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - c21e/javascript/dist
            - c21e/javascript/node_modules

  cucumber-expressions-javascript-node-10:
    executor: docker-circleci-node-10
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make

  cucumber-expressions-javascript-node-12:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - cucumber-expressions/javascript/dist
            - cucumber-expressions/javascript/node_modules

  messages-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: messages/javascript
          command: |
            cd messages/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - messages/javascript/dist
            - messages/javascript/node_modules

  gherkin-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - gherkin/javascript/dist
            - gherkin/javascript/node_modules

  tag-expressions-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: tag-expressions/javascript
          command: |
            cd tag-expressions/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - tag-expressions/javascript/dist
            - tag-expressions/javascript/node_modules

  fake-cucumber-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: fake-cucumber/javascript
          command: |
            cd fake-cucumber/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - fake-cucumber/javascript/dist
            - fake-cucumber/javascript/node_modules

  compatibility-kit-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: compatibility-kit/javascript
          command: |
            cd compatibility-kit/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - compatibility-kit/javascript/dist
            - compatibility-kit/javascript/node_modules

  react-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: react/javascript
          command: |
            cd react/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - react/javascript/dist
            - react/javascript/node_modules

  html-formatter-javascript:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: html-formatter/javascript
          command: |
            cd html-formatter/javascript
            make

  json-formatter-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: json-formatter/javascript
          command: |
            cd json-formatter/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - json-formatter/javascript/features

  query-javascript:
    executor: docker-circleci-node-12
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: query/javascript
          command: |
            cd query/javascript
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - query/javascript/dist
            - query/javascript/node_modules

### Ruby

  c21e-ruby:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: c21e/ruby
          command: |
            cd c21e/ruby
            make

  cucumber-expressions-ruby:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: cucumber-expressions/ruby
          command: |
            cd cucumber-expressions/ruby
            make

  messages-ruby:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: messages/ruby
          command: |
            cd messages/ruby
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - messages/ruby

  gherkin-ruby-23:
    executor: docker-circleci-ruby-23
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-24:
    executor: docker-circleci-ruby-24
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-25:
    executor: docker-circleci-ruby-25
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  gherkin-ruby-26:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/ruby
          command: |
            cd gherkin/ruby
            make

  tag-expressions-ruby:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: tag-expressions/ruby
          command: |
            cd tag-expressions/ruby
            make

  json-formatter-ruby:
    executor: docker-circleci-ruby-26
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: json-formatter/ruby
          command: |
            cd json-formatter/ruby
            make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - json-formatter/ruby

  demo-formatter-ruby:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: demo-formatter/ruby
          command: |
            cd demo-formatter/ruby
            make

### Java

  c21e-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: c21e/java
          command: |
            cd c21e/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/c21e"

  cucumber-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: cucumber-expressions/java
          command: |
            cd cucumber-expressions/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/cucumber-expressions"

  messages-java:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: messages/java
          command: |
            cd messages/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/messages"

  gherkin-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: gherkin/java
          command: |
            cd gherkin/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/gherkin"

  tag-expressions-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: tag-expressions/java
          command: |
            cd tag-expressions/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/tag-expressions"

  datatable-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: datatable-java
          command: |
            cd datatable/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/datatable"

  config-java:
    executor: docker-circleci-openjdk
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - attach_workspace:
          at: "~/.m2/repository"
      - run:
          name: config-java
          command: |
            cd config/java
            make
      - persist_to_workspace:
          root: "~/.m2/repository"
          paths:
            - "io/cucumber/config"

### .NET

  messages-dotnet:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: messages/dotnet
          command: |
            cd messages/dotnet
            make

### Python

  tag-expressions-python:
    executor: docker-circleci-python
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: tag-expressions/python
          command: |
            cd tag-expressions/python
            make

### C

  gherkin-c:
    executor: docker-cucumber-build
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - run:
          name: gherkin/c
          command: |
            cd gherkin/c
            make

###
### Workflows ###
###

workflows:
  version: 2

  monorepo-nightly:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - build-serial

  monorepo-serial:
    jobs:
      - build-serial:
          # Explicitly enable build for tags. Needed to sync tags to subrepos.
          filters:
            tags:
              only: /.*/

  monorepo-parallel:
    jobs:
      - checkout
### Go

      - cucumber-expressions-go:
          requires:
            - checkout
      - messages-go:
          requires:
            - checkout
      - gherkin-go:
          requires:
            - messages-go
      - tag-expressions-go:
          requires:
            - checkout
      - demo-formatter-go:
          requires:
            - messages-go
            - fake-cucumber-javascript
      - json-formatter-go:
          requires:
            - messages-go
            - json-formatter-ruby
            - json-formatter-javascript

### JavaScript

      - c21e-javascript:
          requires:
            - checkout
      - cucumber-expressions-javascript-node-10:
          requires:
            - checkout
      - cucumber-expressions-javascript-node-12:
          requires:
            - checkout
      - messages-javascript:
          requires:
            - checkout
      - gherkin-javascript:
          requires:
            - messages-javascript
      - tag-expressions-javascript:
          requires:
            - checkout
      - fake-cucumber-javascript:
          requires:
            - messages-javascript
            - gherkin-javascript
            - cucumber-expressions-javascript-node-12
            - tag-expressions-javascript
      - compatibility-kit-javascript:
          requires:
            - fake-cucumber-javascript
      - react-javascript:
          requires:
            - messages-javascript
            - gherkin-javascript
            - fake-cucumber-javascript
            - query-javascript
      - html-formatter-javascript:
          requires:
            - react-javascript
      - json-formatter-javascript:
          requires:
            - json-formatter-ruby
            - fake-cucumber-javascript
      - query-javascript:
          requires:
            - messages-javascript
            - fake-cucumber-javascript
            - gherkin-javascript

### Ruby

      - c21e-ruby:
          requires:
            - checkout
      - cucumber-expressions-ruby:
          requires:
            - checkout
      - messages-ruby:
          requires:
            - checkout
      - gherkin-ruby-23:
          requires:
            - messages-ruby
      - gherkin-ruby-24:
          requires:
            - messages-ruby
      - gherkin-ruby-25:
          requires:
            - messages-ruby
      - gherkin-ruby-26:
          requires:
            - messages-ruby
      - tag-expressions-ruby:
          requires:
            - checkout
      - demo-formatter-ruby:
          requires:
            - messages-ruby
            - fake-cucumber-javascript
      - json-formatter-ruby:
          requires:
            - checkout

### Java

      - c21e-java:
          requires:
            - checkout
      - cucumber-expressions-java:
          requires:
            - checkout
      - messages-java:
          requires:
            - checkout
      - gherkin-java:
          requires:
            - messages-java
      - tag-expressions-java:
          requires:
            - checkout
      - datatable-java:
          requires:
            - gherkin-java
      - config-java:
          requires:
            - checkout

### .NET

      - messages-dotnet:
          requires:
            - checkout

## Python

      - tag-expressions-python:
          requires:
            - checkout

### C

      - gherkin-c:
          requires:
            - checkout
