version: 2
jobs:
  checkout:
    steps:
      - checkout

  c21e-javascript:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    steps:
      - run: 
          name: c21e/javascript
          command: |
            cd c21e/javascript
            make

  cucumber-expressions-javascript:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    steps:
      - run: 
          name: cucumber-expressions/javascript
          command: |
            cd cucumber-expressions/javascript
            make

  cucumber-messages-javascript:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    steps:
      - run: 
          name: cucumber-messages/javascript
          command: |
            cd cucumber-messages/javascript
            make

  gherkin-javascript:
    docker:
      - image: cucumber/cucumber-build:eaf07fd33b43f4078d85f1b3886c3925
    steps:
      - run: 
          name: gherkin/javascript
          command: |
            cd gherkin/javascript
            make

workflows:
  version: 2
  javascript:
    jobs:
      - c21e-javascript:
          requires:
            - checkout
      - cucumber-expressions-javascript:
          requires:
            - checkout
      - cucumber-messages-javascript:
          requires:
            - checkout
      - gherkin-javascript:
          requires:
            - checkout
            - c21e-javascript
            - cucumber-messages-javascript
