sudo: false
language: java

jdk:
- oraclejdk8
- oraclejdk9
- oraclejdk10
jobs:
  include:
  - stage: deploy
    jdk: oraclejdk8
    script:
    - "./scripts/travis_deploy.sh"
script: make default

env:
  global:
  - secure: X90mXqeOdrgKBKTn62QCsXw7ym2yL6ZaF8K/OkIXEhzGUID+UmO9OBGJbH41i3LZBpLvocJ7OLt7CsQlxj3cmwnvkeXksDIe9faIP/kO2Crpn9841OsCKLGXI1BB0RTmMhp+PeMPx5LfozNkOnavgoxIB8oGSxIdGH6CkrYnnQCtsiumkmBLGj7S0Lpb5df5Qx7vibNx+qAYBBtmORVkeuruQ0XDz21Mu/034CHqqAxHIKBYERKljgz/3SzYD+Nyf6TUMhvr1GsMjsxbYLmHtWGTBQWRtvsFgOf0CysgtDPfHrdYXwNb98m3BZ1R9J636+FwnghpAhV93xl74Lf5vUEY3IjaTDRFM60TxFeaHwLDwn9nwSR/kCXxFHOV/yttYdtpfmzPfgt3Z2cLAE8k6/rTox7BqjyP0UtcPuKYWiB2C0Q7kCTYwVi7OLXVG/jsdTXZUQkesFKwfDpcdbIzc+pzUypaWHxBIwHItvpSbHI1suQI3PgcqL5mnmzd066lurvP92TrSUfZAtsf+UXoDxMfCmslfcq5HlQ9bydZmbrJ2jyJNdRxHeore1NxE4lKWss1F5Q/mXBmj8MA8eW7PVagJefoK2Ex/AdbyZZSAunzjD/WfxmeDvCj/JSzmzz8musYvLHajxD14sdooWSPyPqiZfR2eT8RwZEdFzeCXlU=
  - secure: kxFZjNRa1cPdDWFs52Kzo/ITD9J03D47etes1aKUTqbT1CfRTAccJGAmdEFxk9X9LKfV+Vn3N8QPyMmkoKrFZrXgux9/eRfJKvb7xahPjpfXYREQCScYTuV3mvtBiGrDhCj6lR78rmHSLKunycyPYQqZ3njuMzF67n7L46Q3DdS9is3UyfcJ34+iwLEVmNSOvetcStcQ2mBfU4t+kvFxnz7WS5BxTRTXZ2uQf/9RvITTIktmc5PYBu5Qo2F72mFKtxq8FapMTQYhTQim453UPoMNtdM9nOPFPlOyMsjExEhEJa6MrOnSXujQnJY1xZB9RuIjoBA9kzf3Rw7HOR5CXcN+3+5piLK0NrFOSc9znszQHuk+O17hXX8HG1NxJ/CnSMi8Fh3+9DEaQY5nOavpUcyRFY+nVHEIW85ep97AO588AYr68pnrUWQPvKjrZYwcTxxOtbaJCir6+zNCLk/SBuoQGiwBnka8341t7yoQHXeGTOm94paNYU926jKl8cs/PqiJvDPSxZlhlYe8sX4sl5bnz3nNGzWg+mAYZMKiNwpe6vChxHbiRb+X6dJm8qAK1qsnn/z/Yh1UN1Cw3ab9ACqYWM2V4nXmrCbxGbplJAiMVzpMg6RlWwzxlzAXXM88Kbj4V/ZHU1wRGNtryjJ7L9s21zyZMj6JHy5RrR5rxhA=
