sudo: false
language: node_js
node_js:
  - "10"
  - "9"
  - "8"
  - "6"

before_install:
- npm i -g npm@latest
script: make default
jobs:
  include:
  - stage: deploy
    node_js: '10'
deploy:
  skip_cleanup: true
  provider: npm
  email: cukebot@cucumber.io
  on:
    tags: true
  deploy:
    api_key:
      secure: bUmCug37qcNOAQnjNduP0katc7ETn3vmePjp+cYWlpA27pQTvhf7zxcgocgDJPstS1tooDuIxzyk802mXgkV6rwRo2hs0ul3P/lyRcodsWshiKsAR/4hA3VrJ3om3v+RSOW3Qdlh+e0m7h4a3IANWMxaaEKBmAhd+iHjrmqXYjQsvImEZydkfNddOubO7MBECDOazH4tEQ65ppyrSJIsABRDAs6OD5obRhDBbEnzW2oNBH/m48W/C33H+dSgM3DIisu9+qCscqM1iMb6c/vFhq8q2EHRWpzRnsTEz3yUiXnotmU9A3iX/0qwvM6vpAtrixd4kKG8ruocnK1zK1NEItrEESWSvJ5qbcVDQcwGE3wmUtJhHgRClWcTVxAL68PkIuBAfZYwFrDCfbb2Cx1ecJGZFJ/042D6JE5v4hWApXz7KMMt2pEPz1peQ9ytguolT5sO/xZLtHwaBxegK6AcIjVgJoke/yXRPJPfNHQHW+MGV+mATv0kba9DKDAmo+H57Lo2YPHGaQ2xghWPHn8CaykSleAgC8+17gNOr50JTIu82hNXpLZiFx6Rdy2MP6/TW2+s+iPvq1bmYSqfjZKdw7cONDnxYWZc0SeNxVuxrJgluEzegHstTHQ9Aq5v7qAnPEwPXx+CXP2KmxGt9DjW0zUCCIUz+77pcZuYponG7tg=
