.idea/
.nyc_output/
coverage/
node_modules/
yarn.lock
npm-debug.log
package-lock.json
.deps
.tested
.linted
.compared
.codegen
acceptance
*-go/
# Only applies to cucumber-messages/javascript
src/cucumber-messages.d.ts
src/cucumber-messages.js
