.backdrop {
    background-color: #bbb;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    background-color: white;
}

.value {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.suffix {
    padding: 0;
    margin: 0;
}
