@import '../../styles/theming';

.list {
  overflow-x: hidden;
}

.icon {
  padding-top: 0.35em;
  padding-right: 0.5em;
}

.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordionItem + .accordionItem {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordionButton {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordionButton:hover {
  background-color: #ddd;
}

.accordionButton:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordionButton[aria-expanded='true']::before,
.accordionButton[aria-selected='true']::before {
  transform: rotate(45deg);
}

.accordionPanel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}
