.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.icon {
    font-size: 3rem;
    opacity: 0.125;
}
