@import '../../styles/theming';

.searchForm {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.queryIcon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: $codeTextColor;
}

.queryField {
    width: 100%;
    padding: 0 0 0 1.5rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
}

.searchHelp {
    display: block;
    font-style: italic;
    font-size: 0.666rem;
    line-height: 1em;
    margin-top: 0.5rem;
    color: $codeTextColor;
}

