$border-color : #4B5662	;
$white : #F0EFFB;

@mixin padding-table-cell {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
}

.status-passed { background-color: #2CB14A }
.status-skipped { background-color: #00A0CC }
.status-pending { background-color: #FFAD33}
.status-undefined { background-color: #FFAD33 }
.status-ambiguous { background-color: #F4EBFD }
.status-failed { background-color: #BB0000 }
.status-unknown { background-color: #B6BECB }

.cucumber-react {
    h1, h2, h3 {
        margin: 0.1em;
    }
    .status-badge {
        float: right;
        color: $white;
        padding: 0.75em;
        border-radius: 30px;

    }

    ol {
        list-style-type: none;
        padding-left: 0;
    }

    section {
        margin-bottom: 1em;
    }

    table {
        border: 1px solid $border-color;
        border-collapse: collapse;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        th {
            border: 1px solid $border-color;
            @include padding-table-cell;
        }
        td {
            border: 1px solid $border-color;
            @include padding-table-cell;
        }
    }

    .gherkin-document-list {
        font: 14px 'Open Sans', sans-serif;
        color: #161C24;
        background: #fff;
        overflow-x: hidden;
    }

    .indent {
        margin-left: 1em;
    }

    .keyword {
        font-weight: bold;
    }

    .step {
        padding: 0.5em;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1em;
        box-shadow: 4px 4px 8px #B6BECB;

        &-text {
            font-weight: normal;
        }

        &-param {
            font-weight: bold;
            color: #F0EFFB;
            background-color:#4234C5 !important;
        }
    }

    .error-message {
        padding: 0.5em;
        margin: 0;
        overflow: scroll;
    }

    .tag-list {
        padding: 0;
        margin-bottom: 0;
    }

    .tag {
        display: inline;
        list-style-type: none;
        padding: 4px 8px 4px 8px;
        margin-right: 6px;
        background-color: #FFFFFF;
        border-radius: 6px;
    }

}
