@import './theming';
@import './themes';

$summary-border-color: rgba(0, 0, 0, 0.1);

.cucumber {
  font-size: 14px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  color: $textColor;
  background: $backgroundColor;

  pre {
    font-family: inherit;
  }
}

// TODO encapsulate in a component
.cucumber-steps {
  padding: 0;
  margin: 1em;

  > li {
    list-style: none;
  }

  > li + li {
    margin-top: 0.25em;
  }
}

.cucumber-no-documents {
  font: 14px 'Open Sans', sans-serif;
}

.cucumber-report-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  border: 1px solid $summary-border-color;

  font: 11px 'Open Sans', sans-serif;
  margin-bottom: 1em;

  & > * {
    padding: 1em;
  }

  .cucumber-status-filter {
    border-bottom: 1px solid $summary-border-color;

    table {
      width: 100%;
    }
  }

  .cucumber-execution-data {
    border-bottom: 1px solid $summary-border-color;
  }

  .cucumber-search-bar {
    border-right: 0;

    form.cucumber-search-bar-search {
      width: 100%;
      display: grid;
      grid-template-columns: 9fr 1fr;

      input {
        padding: 0.4em;
        border-radius: 0;
      }

      button {
        height: 2.2em;
        padding-left: 0.6em;
        padding-right: 0.6em;
      }

    }


    p.help {
      font-size: 80%;
    }

    form.cucumber-search-bar-filter {
      ul {
        display: inline;

        li {
          list-style-type: none;
          display: inline-block;

          input {
            display: inline-block;
            width: auto;
            height: 0.6em;
          }

          label {
            padding-right: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .cucumber-report-header {
    grid-template-columns: 1fr 1fr;

    .cucumber-status-filter {
      border-right: 1px solid $summary-border-color;
    }

    .cucumber-search-bar {
      grid-column: 1 / -1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .cucumber-report-header {
    grid-template-columns: 1fr 1fr 2fr;

    .cucumber-status-filter {
      border-bottom: 0
    }

    .cucumber-execution-data {
      border-right: 1px solid $summary-border-color;
      border-bottom: 0
    }

    .cucumber-search-bar {
      grid-column: auto;
    }
  }
}
