$backgroundColor: var(--cucumber-background-color, white);
$textColor: var(--cucumber-text-color, #222);
$anchorColor: var(--cucumber-anchor-color, #297bde);
$keywordColor: var(--cucumber-keyword-color, #000080);
$parameterColor: var(--cucumber-parameter-color, #297bde);
$tagColor: var(--cucumber-tag-color, #808000);
$docstringColor: var(--cucumber-docstring-color, #008080);
$errorBackgroundColor: var(--cucumber-error-background-color, #fff0f0);
$errorTextColor: var(--cucumber-error-text-color, #bd0a2b);
$codeBackgroundColor: var(--cucumber-code-background-color, #f6f8fa);
$codeTextColor: var(--cucumber-code-text-color, #666);
$panelBackgroundColor: var(--cucumber-panel-background-color, #f4f4f4);
$panelAccentColor: var(--cucumber-panel-accent-color, #e8e8e8);
$panelTextColor: var(--cucumber-panel-text-color, #444);
