$backgroundColor: var(--cucumber-background-color, white);
$textColor: var(--cucumber-text-color, #222);
$anchorColor: var(--cucumber-anchor-color, #297bde);
$keywordColor: var(--cucumber-keyword-color, #000080);
$parameterColor: var(--cucumber-parameter-color, #297bde);
$tagColor: var(--cucumber-tag-color, #808000);
$docstringColor: var(--cucumber-docstring-color, #008080);
$errorBackgroundColor: var(--cucumber-error-background-color, #fff0f0);
$errorTextColor: var(--cucumber-error-text-color, #bd0a2b);
$codeBackgroundColor: var(--cucumber-code-background-color, rgb(246, 248, 250));
$codeTextColor: var(--cucumber-code-text-color, #666);